{% include "header.html" %}

<!-- Page Header -->
<header class="masthead">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>📩 Admin Messages</h1>
          <span class="subheading">All messages from contact form</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Date</th>
              <th>Name</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Message</th>
            </tr>
          </thead>
          <tbody>
            {% for msg in messages %}
            <tr>
              <td>{{ msg.date.strftime("%Y-%m-%d %H:%M:%S") }}</td>
              <td>{{ msg.name }}</td>
              <td>{{ msg.email }}</td>
              <td>{{ msg.phone }}</td>
              <td>{{ msg.message }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
